@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <div style="direction: ltr">
            Generated Url :
            <div id="result" style="overflow-x: auto;">..com/</div>
            <br class="clr" />

            <hr />
            @using (Ajax.BeginForm("Encode", "UrlManager", new { area = "" }, new AjaxOptions() { OnSuccess = "successEncode" }, new { }))
            {
                <h2>Url Sections Struct</h2>
                @*@Html.Partial("MultiText", new MultiText() { Caption = "", Name = "Struct", ShowCaptionInTop = false, RowMode = RowModes.TwoLinear, ColumnMode = ColumnModes.P100 })
                    @Html.Partial("MultiText", new MultiText() { Caption = "", Name = "Words", ShowCaptionInTop = false, RowMode = RowModes.TwoLinear, ColumnMode = ColumnModes.P100 })*@

                 
                        <div  >
                            <input type="text" id="cat" placeholder="Categories" />
                            <input type="button" id="btn_cat" value="+" onclick="addsection(this)" />
                            <input type="text" id="typ" placeholder="Types" />
                            <input type="button" id="btn_typ" value="+" onclick="addsection(this)" />
                            <input type="text" id="loc" placeholder="Locations" />
                            <input type="button" id="btn_loc" value="+" onclick="addsection(this)" />
                            <input type="text" id="tag" placeholder="Tag" />
                            <input type="button" id="btn_tag" value="+" onclick="addsection(this)" />

                        </div>
                       
                    
                        <div class="cell P75">
                            <input type="text" id="key" placeholder="Keyword" />
                            <input type="button" id="btn_key" value="+" onclick="addsection(this)" />
                            <input type="text" id="pag" placeholder="Page" />
                            <input type="button" id="btn_pag" value="+" onclick="addsection(this)" />
                            <input type="text" id="srt" placeholder="Sort" />
                            <input type="button" id="btn_srt" value="+" onclick="addsection(this)" />

                            <input type="button" id="and" value="and" />
                            <input type="button" id="or" value="or" />
                            <input type="button" id="not" value="not" />
                            @Html.Partial("Append", new Append() { Name = "and", Caption = "And", ShowCaptionInTop = false, RowMode = RowModes.Linear, ColumnMode = ColumnModes.P25, Css = "trans", Script = "addsection(sender)" })
                            @Html.Partial("Append", new Append() { Name = "or", Caption = "Or", ShowCaptionInTop = false, RowMode = RowModes.Linear, ColumnMode = ColumnModes.P25, Css = "trans", Script = "addsection(sender)" })
                            @Html.Partial("Append", new Append() { Name = "not", Caption = "Not", ShowCaptionInTop = false, RowMode = RowModes.Linear, ColumnMode = ColumnModes.P25, Css = "trans", Script = "addsection(sender)" })

                        </div>
                        <div class="cell P25">
                            @Html.Partial("Append", new Append() { Name = "btn_key", Caption = " ", ShowCaptionInTop = false, RowMode = RowModes.Linear, ColumnMode = ColumnModes.P100, Css = "trans cIcon add", Script = "addsection( sender)" })
                            @Html.Partial("Append", new Append() { Name = "btn_pag", Caption = " ", ShowCaptionInTop = false, RowMode = RowModes.Linear, ColumnMode = ColumnModes.P100, Css = "trans cIcon add", Script = "addsection( sender)" })
                            @Html.Partial("Append", new Append() { Name = "btn_srt", Caption = " ", ShowCaptionInTop = false, RowMode = RowModes.Linear, ColumnMode = ColumnModes.P100, Css = "trans cIcon add", Script = "addsection( sender)" })

                        </div>


                    </div>
                    <div class="cell P34" style="direction: ltr; text-align: left">
                        <input type="button" value="Clear" class="box_in2" onclick="  $('#cell_Words .mcnt').html(''); $('#cell_Struct .mcnt').html('');" />
                        <input type="submit" value="Encode" class="box_in2" />

                        <hr />

                    </div>
                </div>
            }
            <br class="clr" />
            <div class="box_in2">
                @using (Ajax.BeginForm("Decode", "UrlManager", new { area = "" }, new AjaxOptions() { OnSuccess = "successDecode" }, new { }))
                {
                    <a id="EncodeUrlTest" href="" target="_blank">Click Here To Test Url</a>
                    <input id="HashedStruct" name="HashedStruct" type="text" value="" class="box_in2" style="width: 90%;" />
                    <input type="submit" value="Decode" class="box_in2" />
                    <input id="DecodedResult" type="text" value="" style="width: 100%" />
                    <div id="ids" type="text"></div>
                }
            </div>


            <script>

                function successEncode(data) {
                    window.eval("var edrt = " + data + ";");
                    $('#HashedStruct').val(edrt.hash);
                    $('#EncodeUrlTest').attr('href', '/test@("@")c' + edrt.hash.replace(/ /g, ''));
                }

                function successDecode(data) {
                    window.eval("var edrt = " + data + ";");
                    $('#DecodedResult').val(edrt.code);
                    $('#ids').html(edrt.ids);



                }

                $('#cell_Struct .mcnt').css('text-align', 'left');
                $('#cell_Struct .mcnt').css('direction', 'ltr');

                $('#cell_Struct .mcnt').click(function () { return false; });
                $('#cell_Words .mcnt').css('text-align', 'left');
                $('#cell_Words .mcnt').css('direction', 'ltr');
                $('#cell_Words .mcnt').html(''); $('#cell_Struct .mcnt').html('');
                $('#cell_Words .mcnt').click(function () { return false; });

                function addsection(th) {
                    var id = th.id.replace('btn_', '');

                    if (id == "and" || id == "or" || id == "not") {
                        $('#cell_Struct .mcnt').append(multiText_newItemHtml_withParent_ReadOnly(id));


                        $('#cell_Words .mcnt').append(multiText_newItemHtml_withParent_ReadOnly(id));

                        multiItemText_GetValue('Words');
                        multiItemText_GetValue('Struct');

                        return;
                    }
                    var str = $('#' + id).val();
                    str = str.trim();

                    if (id == "fct" || id == "fdt") {
                        $('#cell_Words .mcnt').html('');
                        $('#cell_Struct .mcnt').html('');


                        $('#cell_Struct .mcnt').append(multiText_newItemHtml_withParent(id))
                        $('#cell_Words .mcnt').append(multiText_newItemHtml_withParent(str.replace(/ /g, '+')))

                        multiItemText_GetValue('Words');
                        multiItemText_GetValue('Struct');
                        return;
                    }

                    if (str.indexOf(' ') != -1) {
                        $('#cell_Struct .mcnt').append(multiText_newItemHtml_withParent("ws"));
                    }

                    $('#cell_Struct .mcnt').append(multiText_newItemHtml_withParent(id))
                    $('#cell_Words .mcnt').append(multiText_newItemHtml_withParent(str.replace(/ /g, '+')))


                    if (str.indexOf(' ') != -1) {
                        $('#cell_Struct .mcnt').append(multiText_newItemHtml_withParent(str.split(' ').length));
                    }

                    multiItemText_GetValue('Words');
                    multiItemText_GetValue('Struct');

                }



            </script>




        </div>

    </div>
</body>
</html>
